* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: sans-serif;
}

a {
  font-family: inherit;
  text-decoration: inherit;
  color: inherit;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
}
@media (max-width: 768px) {
  .container {
    padding-inline: 8px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  background-color: rgb(3, 3, 31);
  z-index: 100;
}
.header__logo {
  font-family: sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .header__container {
    display: flex;
    justify-content: center;
  }
}

.track-bar {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%);
  min-width: 250px;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.363);
  padding: 5px 8px;
  border-radius: 4px;
  transition: 0.3s bottom;
  padding-bottom: 10px;
}
.track-bar.visible {
  bottom: 15px;
}
.track-bar__track-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.track-bar__status {
  font-size: 14px;
  margin-bottom: 5px;
}
@media (max-width: 500px) {
  .track-bar {
    min-width: 200px;
  }
  .track-bar__title {
    font-size: 16px;
  }
  .track-bar__artist {
    font-size: 13px;
  }
  .track-bar__status {
    font-size: 10px;
    margin-bottom: 5px;
  }
}

.hero-section {
  padding: 120px 0 60px;
  background: rgb(17, 62, 187);
  background: radial-gradient(
    circle,
    rgba(17, 62, 187, 1) 0%,
    rgba(92, 9, 121, 1) 49%,
    rgba(30, 17, 143, 1) 100%
  );
  background-size: cover;
}
.hero-section.ukraine {
  background: rgb(17, 62, 187);
  background: radial-gradient(
    circle,
    rgb(255, 227, 16) 0%,
    rgb(27, 17, 203) 49%,
    rgb(255, 223, 12) 100%
  );
}
.hero-section__container {
  text-align: center;
}
.hero-section__title {
  font-size: 48px;
  color: #fff;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .hero-section__title {
    font-size: 34px;
  }
}
.hero-section__descr {
  color: #fff;
}
.hero-section__artist {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.hero-section__button {
  display: inline-block;
  color: rgb(19, 19, 180);
  background-color: #fff;
  font-family: sans-serif;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 14px;
  margin-top: 20px;
  transition: 0.3s opacity, 0.2s scale;
}
.hero-section__button:hover {
  opacity: 0.7;
  scale: 0.9;
}

.chart-section {
  padding: 40px 0 145px;
}
.chart-section__list {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

  list-style: none;
  counter-reset: item;
  padding-left: 0;
}
@media (max-width: 768px) {
  .chart-section__list {
    row-gap: 50px;
  }
}

.chart-section__item {
  position: relative;
}
.chart-section__item::before {
  content: "#" counter(item);
  counter-increment: item;
  position: absolute;
  top: -20px;
  left: -20px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 216, 40);
  z-index: 1;
  background-color: #1940ed;
  padding: 5px;
}
@media (max-width: 768px) {
  .chart-section__list {
    gap: 30px;
  }
}

.track-card {
  max-width: 190px;
}
.track-card__img-box {
  position: relative;
  margin-bottom: 10px;
  transition: 0.3s scale;
}
.track-card__img-box:hover {
  scale: 0.95;
}
.track-card__img-box::after {
  content: "▶︎";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: transparent;
  font-size: 38px;
  cursor: pointer;
  transition: 0.5s color, 0.8s background-color;
}
.track-card__img-box:hover.track-card__img-box::after {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.484);
}
.track-card__img {
  vertical-align: bottom;
}
.track-card__title {
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  transition: 0.3s background-color, 0.1s color;
}
.track-card__title:hover {
  background-color: rgb(42, 42, 221);
  color: #aab9ff;
}
.track-card__artist {
  font-family: sans-serif;
  color: rgb(30, 4, 135);
  margin-top: 4px;
  transition: 0.2s opacity;
}
.track-card__artist:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .track-card {
    max-width: 140px;
  }
  .track-card__img {
    width: 140px;
    height: 140px;
  }
  .track-card__title {
    font-size: 18px;
  }
  .track-card__artist {
    font-size: 12px;
    line-height: 1;
  }
}
